.thirdSlide{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-size: 100% 100%;
  flex-flow: column;
  font-family: 'Lato', sans-serif;
  height: 100%;
  &__firstLvL, &__secondLvL, &__thirdLvL{
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
  }
  &__firstLvL{
    margin-bottom: 42px;
    margin-top: 30px;
  }
  &__secondLvL{
    align-items: center;
  }
  &__thirdLvL{
    margin-top: 40px;
  }
  &__title{
    font-size: 40px;
    margin: 100px 0 40px;
    padding-left: 10%;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: .8;
    width: 100%;
    color: #ffffff;
  }
  &__container{
    display: flex;
    padding-left: 206px;
    width: 700px;
  }
}

.LvL{
  display: flex;
  justify-content: center;
  &__item{
    margin: 0 20px 40px;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_betta{
      width: 70px;
      height: 70px;
    }
    &_fontWeight{
      font-size: 20px;
    }
    &_translate11{
      transform: translate(0px, -50px);
    }
    &_text{
      width: auto;
      height: auto;
      background-color: unset;
      &_smallText{
        font-size: 16px;
        color: #ffffff;
        transform: translate(-11px, -25px);
      }
    }
    &_margin10{
      margin: 0 10px 10px 0;
    }
    &_margin10{
      transform: translate(4px, -31px);
      margin-bottom: 10px;
    }
    &_marginNull{
      margin-left: 0;
      margin-right: 0;
    }

    &_severalItems{
      width: auto;
      height: auto;
      background: linear-gradient(rgba(255, 255, 255, 0.1), transparent, transparent);
      display: flex;
      flex-flow: column;
      border-radius: 40px;
      align-items: flex-start;
      padding: 20px;
      transform: translate(-20px, 0px);
      &_title{
        color: #fff;
        font-size: 14px;
        margin-bottom: 50px;
      }
    }
  }
  &__inline{
    display: flex;
    justify-content: center;
  }
  &__icon{
    max-width: 80%;
    max-height: 80%;
  }
  &__text{
    font-size: 22px;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 30px 60px;
    &_empty{
      border: 0;
      padding: 0;
    }
  }
  &__steps{
    position: absolute;
    top: -60px;
    color: #fff;
    width: 150px;
    font-size: 15px;
    &_left{
      top: -3px;
      text-align: right;
      left: -160px;
    }
    &_right{
      top: 2px;
      text-align: left;
      right: -160px;
    }
    &_down{
      top: unset;
      bottom: -20px;
    }
    &_relative{
      position: unset;
      width: auto;
      margin: 0 10px;
    }
  }
  &__description{
    margin-bottom: 24px;
    display: block;
    &_margin0{
      margin-bottom: 0;
    }
  }
  &__number{
    margin: 0px 0;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  &__arrows{
    position: absolute;
    opacity: .8;
  }
}

.arrows{
  &__small270{
    transform: translate(-4px, -49px) rotate(180deg);
    img{
      width: 50%
    }
    &_down{
      transform: translate(-4px, 0px) rotate(180deg);
    }
    &_transparent1{
      transform: translate(22px, 35px) rotate(180deg);
      img{
        width: 60%
      }
    }
    &_transparentBrain{
      transform: translate(-11px, 47px) rotate(180deg);
    }
    &_transparentAmilin{
      transform: translate(3px, 20px) rotate(180deg);
      img{
        width: 42%
      }
    }
  }
  &__small90{
    transform: translate(-27px, 37px) rotate(0deg);
    img{
      width: 60%
    }
    &_transparentBrain{
      transform: translate(10px, 49px) rotate(0deg);
    }
  }
  &__middle200{
    transform: translate(-110px, -187px) rotate(72deg);
    &_right{
      transform: translate(-99px, -180px) rotate(-108deg);
    }
    img{
      width: 88%;
    }
  }
  &__middle340{
    transform: translate(100px, -199px) rotate(-79deg);
    &_right{
      transform: translate(94px, -192px) rotate(101deg);
    }
    img{
      width: 88%;
    }
    &_transparentAmillin{
      transform: translate(85px, 25px) rotate(-67deg);
      img{
        width: 70%
      }
    }
  }
  &__middle0{
    transform: translate(-16px, -137px) rotate(180deg);
    img{
      width: 93%
    }
    &_right{
      transform: translate(16px, -137px) rotate(180deg);
    }
    &_transparentStomach{
      transform: translate(80px, -11px) rotate(-90deg);
      img{
        width: 70%
      }
    }
  }
  &__long0{
    transform: translate(2px, -65px) rotate(310deg);
    img{
      width: 54%;
    }
  }
  &__long225{
    transform: translate(-100px, -124px) rotate(294deg);
    &_right{
      transform: translate(-106px, -136px) rotate(115deg);
    }
    img{
      width: 54%;
    }
  }
  &__long315{
    transform: translate(90px, -147px) rotate(125deg);
    &_right{
      transform: translate(97px, -151px) rotate(-55deg);
    }
    img{
      width: 94%;
    }
  }
  &__long330{
    transform: translate(-118px, -83px) rotate(2deg);
    img{
      width: 69%;
    }
  }
}
