.secondSection{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: auto 100%;
  background-position: center;
  position: relative;
  z-index: 5;
  &__icebegr{
    position: absolute;
    width: 790px;
    height: 863px;
    z-index: 2;
    background-position: center bottom;
    background-size: 100% 140%;
    top: -205px;
  }
  &__border{
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: .4;
    z-index: 2;
    background: linear-gradient( #3183ce, transparent);
    top: -11%;
  }
  &__title{
    font-size: 40px;
    margin-top: 200px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: .8;
    color: #ffffff;
    z-index: 20;
  }
  &__crumbs{
    z-index: 4;
    width: 100%;
    position: absolute;
    height: 100%;
    background-position: center;
    background-size: 100%;
  }
}