.secondSlide{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-size: 100% 100%;
  flex-flow: column;
  font-family: 'Lato', sans-serif;
  height: 100%;
  &__firstLvL, &__secondLvL, &__thirdLvL{
    display: flex;
    position: relative;
    justify-content: center;
  }
  &__firstLvL{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  &__secondLvL{
    align-items: center;
  }
  &__thirdLvL{
    margin-top: 40px;
  }
  &__title{
    font-size: 40px;
    margin: 100px 0 70px;
    padding-left: 10%;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: .8;
    width: 100%;
    color: #ffffff;
  }
  &__container{
    width: 700px;
  }
}

.LvL{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__item{
    margin: 0 20px;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_betta{
      width: 70px;
      height: 70px;
    }
    &_text{
      width: auto;
      height: auto;
      background-color: unset;
    }
  }
  &__icon{
    max-width: 80%;
    max-height: 80%;
  }
  &__text{
    font-size: 22px;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 30px 60px;
  }
  &__steps{
    position: absolute;
    top: -90px;
    color: #fff;
    width: 150px;
    font-size: 18px;
    &_left{
      top: 9px;
      text-align: right;
      left: -160px;
    }
    &_right{
      top: 13px;
      text-align: left;
      right: -160px;
    }
    &_down{
      top: unset;
      bottom: -73px;
    }
  }
  &__description{

  }
  &__number{
    margin: 5px 0;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
  }
  &__arrows{
    position: absolute;
    opacity: .8;
  }
}

.arrows{
  &__small270{
    transform: translate(-1px, 35px) rotate(180deg);
    &_center{
      transform: translate(-111px, 35px) rotate(180deg);
    }
    &_right{
      transform: translate(110px, 34px) rotate(180deg);
    }
    img{
      width: 65%
    }
  }
  &__small0{
    transform: translate(-162px, -3px) rotate(90deg);
    &_right{
      transform: translate(160px, 6px) rotate(-90deg);
    }
    img{
      width: 65%
    }
  }
  &__small90{
    transform: translate(-100px, -35px) rotate(0deg);
    &_center{
      transform: translate(-1px, -36px) rotate(0deg);
    }
    &_right{
      transform: translate(98px, -36px) rotate(0deg);
    }
    img{
      width: 65%
    }
  }
}
