#area1{
    top: 15%;
    left: 25%;
    width: 30px;
    height: 30px;
}
#area2{
    top: 28%;
    left: 45%;
    width: 20px;
    height: 20px;
    .areaText{
        text-align: left;
    }
}
#area3{
    top: -4%;
    left: 53%;
    width: 40px;
    height: 40px;
    .areaText{
        top: 4px;
        left: 20px;
    }
}

#area4{
    top: 26%;
    left: 78%;
    width: 20px;
    height: 20px;
}