.firstSection {
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  font-family: 'Lato', sans-serif;
  &__icebegr {
    position: absolute;
    width: 700px;
    height: 578px;
    background-position: center;
    background-size: 100%;
    z-index: 1;
    bottom: -80px;
  }

  &__img {
    width: 100%;
  }

  &__area {
    position: absolute;
    z-index: 100;
    border-radius: 100%;
  }
  &__title{
    font-size: 40px;
    margin-left: -100px;
    margin-top: 100px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: .8;
    color: #0d319c;
  }
}


.area {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(191, 78, 22, .3);
  animation: pulseBorder 1s infinite;

  @-webkit-keyframes pulseBorder {
    0% {
      border: 2px solid rgba(191, 78, 22, .1);
    }
    70% {
      border: 2px solid rgba(191, 78, 22, .4);
    }
    100% {
      border: 2px solid rgba(191, 78, 22, .1);
    }
  }
  @keyframes pulseBorder {
    0% {
      border: 2px solid rgba(191, 78, 22, .1);
    }
    70% {
      border: 2px solid rgba(191, 78, 22, .6);
    }
    100% {
      border: 2px solid rgba(191, 78, 22, .1);
    }
  }

  &__text {
    position: absolute;
    width: 200px;
    text-align: center;
    top: -40px;
    display: block;
    left: -82px;
    font-size: 18px;
    color: #0d319c;
  }
  &__circle{
    background: rgba(191, 78, 22, 1);
    width: 30%;
    height: 30%;
    border-radius: 100%;
    animation: pulse 1.5s infinite;

    @-webkit-keyframes pulse {
      0% {
        background: rgba(191, 78, 22, .6);
        width: 30%;
        height: 30%;
        -webkit-box-shadow: 0 0 0 0 rgba(126, 53, 20, 0.6);
      }
      30% {
        background: rgba(191, 78, 22, .3);
        width: 60%;
        height: 60%;
        -webkit-box-shadow: 0 0 0 10px rgba(126, 53, 20, 0.3);
      }
      70% {
        background: rgba(191, 78, 22, .6);
        width: 30%;
        height: 30%;
        -webkit-box-shadow: 0 0 0 10px rgba(126, 53, 20, 0.6);
      }
      100% {
        background: rgba(191, 78, 22, .3);
        border: 2px solid rgba(191, 78, 22, .3);
        width: 60%;
        height: 60%;
        -webkit-box-shadow: 0 0 0 0 rgba(126, 53, 20, 0.3);
      }
    }
    @keyframes pulse {
      0% {
        width: 60%;
        height: 60%;
        background: rgba(191, 78, 22, .6);
        border: 2px solid rgba(191, 78, 22, .6);
        -moz-box-shadow: 0 0 0 0 rgba(126, 53, 20, 0.6);
        box-shadow: 0 0 0 0 rgba(126, 53, 20, 0.6);
      }
      30% {
        width: 30%;
        height: 30%;
        background: rgba(191, 78, 22, .3);
        border: 2px solid rgba(191, 78, 22, .3);
        -webkit-box-shadow: 0 0 0 10px rgba(126, 53, 20, 0.3);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.3);
      }
      70% {
        width: 60%;
        height: 60%;
        background: rgba(191, 78, 22, .6);
        border: 2px solid rgba(191, 78, 22, .6);
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, .6);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.6);
      }
      100% {
        width: 30%;
        height: 30%;
        background: rgba(191, 78, 22, .3);
        border: 2px solid rgba(191, 78, 22, .3);
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, .3);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.3);
      }
    }
  }
}