.firstSlide{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-size: 100% 100%;
  flex-flow: column;
  font-family: 'Lato', sans-serif;
  height: 100%;
  &__firstLvL, &__secondLvL{
    display: flex;
    position: relative;
    justify-content: space-around;
  }
  &__firstLvL{
    margin-bottom: 100px;
    margin-top: 30px;
  }
  &__secondLvL{

  }
  &__title{
    font-size: 40px;
    margin: 100px 0;
    padding-left: 10%;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    opacity: .8;
    width: 100%;
    color: #ffffff;
  }
  &__container{
    width: 700px;
  }
}

.LvL{
  display: flex;
  justify-content: center;
  &__item{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_text{
      width: auto;
      height: auto;
      background-color: unset;
    }
  }
  &__icon{
    max-width: 80%;
    max-height: 80%;
  }
  &__text{
    font-size: 22px;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 30px 60px;
  }
  &__steps{
    position: absolute;
    top: -90px;
    color: #fff;
    font-size: 22px;
    width: 100px;
  }
  &__description{

  }
  &__number{
    margin: 5px 0;
    font-size: 35px;
    font-weight: 700;
  }
  &__arrows{
    position: absolute;
    opacity: .8;
  }
}

.arrows{
  &__long235{
    transform: translate(-197px, 81px);
    img{
      width: 230%;
    }
  }
  &__long315{
    transform: translate(150px, 127px) rotate(259deg);
    img{
      width: 230%;
    }
  }
  &__small270{
    transform: translate(2px, 89px) rotate(89deg);
    img{
      width: 105%;
    }
  }
  &__small0{
    transform: translate(-185px, 41px) rotate(0deg);
    img{
      width: 62%;
    }
  }
  &__small180{
    transform: translate(183px, 43px) rotate(179deg);
    img{
      width: 62%;
    }
  }
}
