@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.containerDots{
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 20px;
  height: 54px;
  margin-top: -27px;
  z-index: 100;
  .dots{
    margin-bottom: 5px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #fff;
  }
  .active{
    background-color: #db6512;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
