

input[type='range'] {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.42);
    transition: all .3s;
}

input[type='range']:focus{
    border:0;
    outline: 0;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    display: block;
    bottom: 0;
    position: relative;
    background-image: url('/cursor-toggle.png');
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    transition: all .2s;
    transform: scale(6);
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
    transition: all .3s;
}
input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

.container, .slides, .slides__item{
    height: 100%;
}

.container{
    width: 100%;
    padding: 0 20px;
    position: relative;
    &__rangeBlock{
        position: absolute;
        bottom: 5%;
        left: 50%;
        right: 50%;
        margin-left: -300px;
    }
    &__range{
        width: 600px;
    }

    .rangeBlock{
        &__rangeData{
            display: flex;
            justify-content: space-between;
            width: 600px;
        }
        &__item{
            font-size: 20px;
            font-weight: 400;
            margin-top: 20px;
            color: #fff;
            font-family: 'Lato', sans-serif;
        }
    }
}